<html>
<head>
	<title>Info3180 Lab 3</title>
	<link rel="stylesheet" type="text/css" href="contact.css">
	<link rel="shortcut icon" type="image/x-icon" href="pics.png">
</head>
<body>
	<ul>
		<li><a href="#flask">Flask</a></li>
		<li><a href="#home">Home</a></li>
		<li><a href="#about">About</a></li>
		<li><a href="#contact">Contact</a></li>
	</ul>
	<div id ="contact">
		<h3>Contact Form</h3><hr>
		<p>Fill in this form to contact the site owners.</p>
		<label for="name"> Name<span>(Required)</span><br>
		<p>Please enter your full name</p>
		<input type="text" id="name"/><br><br>
		<label for="mail"> E-mail<span>(Required)</span><br><br>
		Please enter your e-mail address<br><br>
		<input type="email" id="name"/><br><br>
		<label for="sub"> Subject<span>(Required)</span><br><br>
		Please enter the subject for your message.<br><br>
		<input type="text" id="name"/><br><br>
		<label for="message"> Message<span>(Required)</span><br><br>
		Please enter the message you would like to send.<br><br>
		<textarea id="message" rows="7" cols="50"></textarea><br><br>
		<button class= "button">Send</button>
	</div>
</body>
</html>